body{
   
}
.container{
    background-color: white(238, 20, 165);
    height: 20vh;
    display: flex; 
    justify-content: center;
}

.izq{
  
    height: 20vh;
    width: 20vw;
}

.mid{
   
    height: 20vh;
    width: 60vw;
}

.der{
    background-color: white(223, 11, 11);
    height: 20vh;
    width: 20vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contenido{
    
    height: 80vh;
}

.contenido-sup{
   
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
.contenido-mid{
    
    height: 20vh;
    display: flex;
}
.contenido-inf{
    
    height:15%;
    display: flex;

}

.contenido-inf2{

    height: 15%;
    display: flex;
}
#buscador {

    width: 450px;
    height: 40px;
    border-radius: 50px;
    border:solid 0.5px gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin-top: 20px;
}

#menu{
    width: 24vh;
    height: 5vh;
}
#buscargoogle{
    display: flex;
    width: 100px;
    height: 54px;
    align-items: center;
    justify-content: flex-end;
}

#suerte{
    display: flex;
    width: 100px;
    height: 54px;
    align-items: center;
}
#debajo-buscador{
    display: flex;
    width: 277px;
    height: 117px;
    align-items: center;
    justify-content: space-evenly;
}
